/* LE DELICE DES PAPILLES - NAVIGATION */ 

.delice_papilles h2, #page_delice h3 {
background: linear-gradient(to right, map-get($delice, color1) 30%, map-get($delice, color2), map-get($delice, color3));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.delice_papilles {
    background-color: map-get($delice, bg);

    h2 {
        font-family: map-get($delice, font-main), serif;
        font-size: 2rem;
        font-weight : normal;

        margin-top: 0;
        margin-bottom: 10px;
        padding: 3px;
    }

    h3 {
        font-family: map-get($delice, font-second), serif;
        font-size : 2rem;
        font-weight: normal;
        color: map-get($delice, color3);
    }
}

/* LE DELICE DES PAPILLES - PAGE */

#page_delice {
    h3 {
        text-align : center;
        font-family : map-get($delice, font-main);
        font-weight : normal;
        font-size : 3rem;
    }
    section {
        padding : 20px 0;
    }
    h4   {
        font-family: map-get($delice, font-second);
        font-weight : normal;
        text-align: center;
        font-size : 1.5rem;
        margin : 20px 0;
        @include lignesoustitre;
        
    }
    p {
        font-family: map-get($delice, font-second);
        margin-left: 40px;
        margin-right: 40px;
    }
    .menu_restau {
        background-color: map-get($delice, bg);
    }
    
    .menu_restau--entrees {
        h4:hover::after {
            background: map-get($delice, color1);
        }
    }
    .menu_restau--plats {
        h4:hover::after {
            background: map-get($delice, color2);
        }
    }
    .menu_restau--desserts {
        h4:hover::after {
            background: map-get($delice, color3);
        }
    }

}