/* FOOTER */

footer {
    position: fixed;
    bottom: 0;

    width : 100%;
    margin-top : 60px;

    display : flex;
    justify-content : space-between;
    flex-wrap : wrap;    

    @include couleurs;  
    font-size : 1.2rem;
    p {
        margin: 10px 20px;
        &:hover {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
        }
    }
    a {
        @include couleurs;
        font-family: $font_main, $font-default;
    }

}