header {
    @include couleurs;
	text-align: center;
    margin-bottom: 30px;

}

    h1 {
        margin : 0px;
        padding : 30px 0px;
        font-size : 3rem;
        font-family: $font_main, $font-default;
        a {
            @include couleurs;
        }
    }