
/* LA NOTE ENCHANTEE - NAVIGATION */ 

.note_enchantee {
    background-color: map-get($note_enchantee, bg);
    transition : background-color 300ms 50ms;
    &:hover {
        @include fond($note_enchantee)
    }

    i {
        font-size: 2.5rem;
        @include radientnote;
    }

    h2 {
        font-family: map-get($note_enchantee, font-main), cursive, serif;
        color: map-get($note_enchantee, font-color);
        font-size: 2rem;
        font-weight : normal;
        margin-top: 0;
        margin-bottom: 10px;
    }

    h3 {
        font-family: Itim;
        font-size : 2rem;
        font-weight: normal;
        font-style: italic;
        text-transform: uppercase;
        color : map-get($note_enchantee, font-color)
    }
}

/* LA NOTE ENCHANTEE - PAGE */ 

#page_note {
    i {
        font-size : 3rem;
        @include radientnote;
    }
    h3 {
        text-align : center;
        font-family : map-get($note_enchantee, font-main);
        color : map-get($note_enchantee, font-color);
        font-weight : normal;
        font-size : 2.1rem;
        i {
            font-size : 3rem;
        }

    }
    h4   {
        font-family: map-get($note_enchantee, font-second);
        color : map-get($note_enchantee, font-color);
        text-align: center;
        font-size : 1.3rem;
        margin : 20px 0;
        @include lignesoustitre;
        &::after {
            @include radientsoustitrenote;
        }

    }
    p {
        font-family: map-get($note_enchantee, font-second);
        color : map-get($note_enchantee, font-color);
        font-style: italic;
    }
    .menu_restau {
        background-color :map-get($note_enchantee, bg);
    }
    .menu_flex {
        p {
            margin: 5px 0;
        }
    }
    h5 {
        font-family : map-get($note_enchantee, font-main);
        color : map-get($note_enchantee, font-color);
        text-align : center;
        font-size : 1.7rem;
        font-weight: normal;
        margin : 30px 10px;
        i {
            font-size: 1.7rem;
        }
    }
}