/* LA PALETTE DU GOUT - NAVIGATION */ 

.palette_gout h2, #page_palette h3 {
    @include radient($palette);
}


.palette_gout {
    background-color: map-get($palette, bg);
    color: map-get($palette, font-color);

    h2 {
        font-family: map-get($palette, font-main), serif;
        font-size: 1.8rem;
        font-weight : normal;
        @include radient($palette);
        margin-top: 0;
        margin-bottom: 10px;
    }

    h3 {
        font-size : 2rem;
        font-weight: normal;
        color: map-get($palette, color2);
        font-family: map-get($palette, font-second), serif;
    }
}

/* LA PALETTE DU GOUT - PAGE */

#page_palette {
    h3 {
        text-align : center;
        font-family : map-get($palette, font-main), serif;
        color: map-get($palette, color1);
        font-weight : normal;
        font-size : 2.5rem;
    }
    section {
        padding : 20px 0;
    }
    h4   {
        font-family: map-get($palette, font-p), serif;
        font-weight: normal;
        font-style: italic;
        text-align: center;
        font-size : 1.2rem;
        margin : 20px 0;
        color: black;
        @include lignesoustitre;
        &::after {
            @include radientsoustitre($palette);
        }
    }
    p {
        font-family: map-get($palette, font-p), sans-serif;
        font-style: italic;
        margin-left: 40px;
        margin-right: 40px;
        color: black;
    }
    .menu_restau {
        background-color :map-get($palette, bg);
    }

}