@import "./sass/utils/variables";
@import "./sass/utils/mixins";

@import "./sass/base/base";
@import "./sass/base/typography";

@import "./sass/composants/buttons";

@import "./sass/layout/header_footer";
@import "./sass/layout/nav";

p, h1 {
	font-family: $font_main, $font-default;
}

a {
	text-decoration: none;
}

nav {
	width : 100%;
	margin: auto;
}

.flexbox_menu, footer {
	display : flex;
	margin : 30px 0px;
	flex-wrap : wrap;
	justify-content: center;
}

.flexbox_menu {
    img {
	width : 300px;
	box-shadow : 0px 0px 7px rgba(0, 0, 0, 0.5);
    margin : 15px 30px;
    }
}




footer {
    @include couleurs;
	margin-bottom : 0px;
	margin-top : 30px;
	width : 100%;
    justify-content : space-between;
    p {
        margin: 20px 20px;
    }
    a {
        @include couleurs;
    }
}

