.menu_restau, footer {
    text-align : center;
}

.menu_restau {
    padding : 20px 10px;
    width: 90%;
    margin-bottom : 150px;
}

.menu_restau p {
    font-size : 1rem;
}

.menu_restau h3 {
    font-size : 2.5 rem;
}

.menu_restau h4 {
    font-size : 2.5 rem;
}

.menu_flex, footer {
	flex-direction: column;
}

.btn_prochainement {
    padding-bottom: 120px;
}

