/* VARIABLES */
/* MAPS */
/* MIXINS */
@import url("https://fonts.googleapis.com/css2?family=Devonshire&family=Open+Sans:wght@400;700&family=Itim&family=Croissant+One&family=Dancing+Script:wght@400;700&family=Dancing+Script:wght@400;500;700&family=Playfair+Display:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Kaushan+Script&family=Caveat:wght@400;700&display=swap");
@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes shake {
  25% {
    transform: translate(2px, 0px) rotate(1deg);
  }
  50% {
    transform: translate(-2px, 0px) rotate(0deg);
  }
  75% {
    transform: translate(2px, 0px) rotate(-1deg);
  }
}
/*
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-2px, 0px) rotate(1deg); }
    30% { transform: translate(2px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-2px, 1px) rotate(0deg); }
    70% { transform: translate(1px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  } */
/* TYPOGRAPHIE */
@font-face {
  font-family: "Alte Haas Grotesk";
  font-weight: normal;
  src: url("./fonts/altehaasgroteskregular.ttf");
}
@font-face {
  font-family: "Alte Haas Grotesk";
  font-weight: bold;
  src: url("./fonts/altehaasgroteskbold.ttf");
}
@font-face {
  font-family: "UTM Times";
  font-weight: normal;
  src: url("./fonts/utmtimes.ttf");
}
@font-face {
  font-family: "UTM Times";
  font-style: italic;
  src: url("./fonts/utmtimesbolditalic.ttf");
}
@font-face {
  font-family: "UTM Times";
  font-weight: bold;
  src: url("./fonts/utmtimesbold.ttf");
}
@font-face {
  font-family: "UTM Times";
  font-weight: bold;
  font-style: italic;
  src: url("./fonts/utmtimesbolditalic.ttf");
}
/* CSS DE BASE */
body {
  width: 100%;
  margin: 0px;
}

.page {
  width: 100%;
  margin: auto;
}
.page h3 {
  margin: 20px 0;
}

.menu_restau, #page_mentions-legales article {
  min-height: 800px;
  min-width: 200px;
  max-width: 600px;
  margin: auto;
  margin-bottom: 100px;
  padding: 20px 40px;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.2);
}
.menu_restau section, #page_mentions-legales article section {
  padding: 15px 0;
}

section {
  width: 100%;
}

.menu_flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.menu_flex p {
  margin: 5px 40px;
}

a {
  text-decoration: none;
}
a:hover {
  border: 0;
}

h2 {
  text-align: center;
  font-family: "Alte Haas Grotesk";
  font-size: 2rem;
}

h4 {
  cursor: pointer;
  white-space: nowrap;
}

p {
  margin: 8px 0;
}

.titre_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.titre_flex img {
  max-width: 30%;
}

/* HEADER */
header {
  background-color: #579c87;
  color: #fdcb46;
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  margin: 0px;
  padding: 20px 0px;
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
}
h1 a {
  background-color: #579c87;
  color: #fdcb46;
}

/* NAVIGATION - GENERAL */
nav {
  width: 100%;
  margin: auto;
  max-width: 1000px;
}

.navigation {
  display: flex;
  margin: 30px 0px;
  flex-wrap: wrap;
  justify-content: center;
}

.menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 460px;
  margin: 30px;
  text-align: center;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.2);
}
.menus a {
  transition: transform 400ms;
}
.menus a:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

h3 {
  font-size: 1.5rem;
  margin: 0 0;
}

/* LA NOTE ENCHANTEE - NAVIGATION */
.note_enchantee {
  background-color: #fde0dc;
  transition: background-color 300ms 50ms;
}
.note_enchantee i {
  font-size: 2.5rem;
  background: linear-gradient(to right, #f15f62, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.note_enchantee h2 {
  font-family: "Devonshire", cursive, serif;
  color: #3d1319;
  font-size: 2rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 10px;
}
.note_enchantee h3 {
  font-family: Itim;
  font-size: 2rem;
  font-weight: normal;
  font-style: italic;
  text-transform: uppercase;
  color: #3d1319;
}

/* LA NOTE ENCHANTEE - PAGE */
#page_note i {
  font-size: 3rem;
  background: linear-gradient(to right, #f15f62, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#page_note h3 {
  text-align: center;
  font-family: "Devonshire";
  color: #3d1319;
  font-weight: normal;
  font-size: 2.1rem;
}
#page_note h3 i {
  font-size: 3rem;
}
#page_note h4 {
  font-family: "Itim";
  color: #3d1319;
  text-align: center;
  font-size: 1.3rem;
  margin: 20px 0;
  display: block;
}
#page_note h4::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease;
}
#page_note h4:hover::after {
  transform: scaleX(1);
}
#page_note h4::after {
  background: linear-gradient(to right, #f15f62, #f6916a);
}
#page_note p {
  font-family: "Itim";
  color: #3d1319;
  font-style: italic;
}
#page_note .menu_restau, #page_note #page_mentions-legales article, #page_mentions-legales #page_note article {
  background-color: #fde0dc;
}
#page_note .menu_flex p {
  margin: 5px 0;
}
#page_note h5 {
  font-family: "Devonshire";
  color: #3d1319;
  text-align: center;
  font-size: 1.7rem;
  font-weight: normal;
  margin: 30px 10px;
}
#page_note h5 i {
  font-size: 1.7rem;
}

/* CHIC A LA FRANCAISE - NAVIGATION */
.chic_francaise h2, #page_chic h3 {
  background: linear-gradient(to right, #d8852e, #a56798 20%, #6e4ccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chic_francaise {
  background-color: #fff5fe;
}
.chic_francaise h2 {
  font-family: "Croissant One", serif;
  font-size: 1.2rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 10px;
}
.chic_francaise h3 {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: #d8852e;
}

/* CHIC A LA FRANCAISE - PAGE */
#page_chic h3 h3 {
  text-align: center;
  font-family: "Croissant One";
  color: #d8852e;
  font-weight: normal;
  font-size: 2.1rem;
}
#page_chic h3 section {
  padding: 20px 0;
}
#page_chic h3 h4 {
  font-family: "UTM Times";
  text-align: center;
  font-size: 1.3rem;
  margin: 20px 0;
}
#page_chic h3 .menu_restau, #page_chic h3 #page_mentions-legales article, #page_mentions-legales #page_chic h3 article {
  background-color: #fff5fe;
}
#page_chic h3 .menu_restau h4, #page_chic h3 #page_mentions-legales article h4, #page_mentions-legales #page_chic h3 article h4 {
  display: block;
}
#page_chic h3 .menu_restau h4::after, #page_chic h3 #page_mentions-legales article h4::after, #page_mentions-legales #page_chic h3 article h4::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease;
}
#page_chic h3 .menu_restau h4:hover::after, #page_chic h3 #page_mentions-legales article h4:hover::after, #page_mentions-legales #page_chic h3 article h4:hover::after {
  transform: scaleX(1);
}
#page_chic h3 .menu_restau--entrees {
  color: #d8852e;
}
#page_chic h3 .menu_restau--entrees h4:hover::after {
  background: #d8852e;
}
#page_chic h3 .menu_restau--plats {
  color: #a56798;
}
#page_chic h3 .menu_restau--plats h4:hover::after {
  background: #a56798;
}
#page_chic h3 .menu_restau--desserts {
  color: #6e4ccc;
}
#page_chic h3 .menu_restau--desserts h4:hover::after {
  background: #6e4ccc;
}
#page_chic h3 p {
  font-family: "UTM Times";
  font-style: normal;
  margin-left: 40px;
  margin-right: 40px;
}

/* LE DELICE DES PAPILLES - NAVIGATION */
.delice_papilles h2, #page_delice h3 {
  background: linear-gradient(to right, #0128dd 30%, #0570f3, #219cf9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.delice_papilles {
  background-color: #f9f9f9;
}
.delice_papilles h2 {
  font-family: "Dancing Script", serif;
  font-size: 2rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 3px;
}
.delice_papilles h3 {
  font-family: "Kalam", serif;
  font-size: 2rem;
  font-weight: normal;
  color: #219cf9;
}

/* LE DELICE DES PAPILLES - PAGE */
#page_delice h3 {
  text-align: center;
  font-family: "Dancing Script";
  font-weight: normal;
  font-size: 3rem;
}
#page_delice section {
  padding: 20px 0;
}
#page_delice h4 {
  font-family: "Kalam";
  font-weight: normal;
  text-align: center;
  font-size: 1.5rem;
  margin: 20px 0;
  display: block;
}
#page_delice h4::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease;
}
#page_delice h4:hover::after {
  transform: scaleX(1);
}
#page_delice p {
  font-family: "Kalam";
  margin-left: 40px;
  margin-right: 40px;
}
#page_delice .menu_restau, #page_delice #page_mentions-legales article, #page_mentions-legales #page_delice article {
  background-color: #f9f9f9;
}
#page_delice .menu_restau--entrees h4:hover::after {
  background: #0128dd;
}
#page_delice .menu_restau--plats h4:hover::after {
  background: #0570f3;
}
#page_delice .menu_restau--desserts h4:hover::after {
  background: #219cf9;
}

/* LA PALETTE DU GOUT - NAVIGATION */
.palette_gout h2, #page_palette h3 {
  background: linear-gradient(to right, #51a444, #72bf55 20%, #bafc7c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.palette_gout {
  background-color: #fdfffd;
}
.palette_gout h2 {
  font-family: "Kaushan Script", serif;
  font-size: 1.8rem;
  font-weight: normal;
  background: linear-gradient(to right, #51a444, #72bf55 20%, #bafc7c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0;
  margin-bottom: 10px;
}
.palette_gout h3 {
  font-size: 2rem;
  font-weight: normal;
  color: #72bf55;
  font-family: "Kalam", serif;
}

/* LA PALETTE DU GOUT - PAGE */
#page_palette h3 {
  text-align: center;
  font-family: "Kaushan Script", serif;
  color: #51a444;
  font-weight: normal;
  font-size: 2.5rem;
}
#page_palette section {
  padding: 20px 0;
}
#page_palette h4 {
  font-family: "Itim", serif;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  font-size: 1.2rem;
  margin: 20px 0;
  color: black;
  display: block;
}
#page_palette h4::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease;
}
#page_palette h4:hover::after {
  transform: scaleX(1);
}
#page_palette h4::after {
  background: linear-gradient(to right, #51a444, #72bf55, #bafc7c);
}
#page_palette p {
  font-family: "Itim", sans-serif;
  font-style: italic;
  margin-left: 40px;
  margin-right: 40px;
  color: black;
}
#page_palette .menu_restau, #page_palette #page_mentions-legales article, #page_mentions-legales #page_palette article {
  background-color: #fdfffd;
}

/*  PAGE PROCHAINEMENT */
#page_prochainement .btn_prochainement {
  margin-top: 70px;
}

#page_mentions-legales article {
  text-align: justify;
}
#page_mentions-legales h2 {
  margin: 50px;
}
#page_mentions-legales p {
  margin-bottom: 25px;
}

.btn_prochainement {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 80px;
}
.btn_prochainement a {
  background-color: #579c87;
  color: #fdcb46;
  padding: 5px 50px;
  border-radius: 8px;
  font-size: 2rem;
}

.dot {
  animation: appear 3s backwards infinite;
}
.dot--1 {
  animation-delay: 300ms;
}
.dot--2 {
  animation-delay: 600ms;
}
.dot--3 {
  animation-delay: 900ms;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #579c87;
  color: #fdcb46;
  font-size: 1.2rem;
}
footer p {
  margin: 10px 20px;
}
footer p:hover {
  animation: shake 500ms;
  animation-iteration-count: infinite;
}
footer a {
  background-color: #579c87;
  color: #fdcb46;
  font-family: "Open Sans", sans-serif;
}

/*# sourceMappingURL=style.css.map */
