/* VARIABLES */
/* MAPS */
/* MIXINS */
/* TYPOGRAPHIE */
@import url("https://fonts.googleapis.com/css2?family=Devonshire&family=Open+Sans:wght@400;700&family=Itim&family=Croissant+One&family=Dancing+Script:wght@400;700&family=Dancing+Script:wght@400;500;700&family=Playfair+Display:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Kaushan+Script&family=Caveat:wght@400;700&display=swap");
@font-face {
  font-family: "Alte Haas Grotesk";
  font-weight: normal;
  src: url("./fonts/altehaasgroteskregular.ttf");
}
@font-face {
  font-family: "Alte Haas Grotesk";
  font-weight: bold;
  src: url("./fonts/altehaasgroteskbold.ttf");
}
@font-face {
  font-family: "UTM Times";
  font-weight: normal;
  src: url("./fonts/utmtimes.ttf");
}
@font-face {
  font-family: "UTM Times";
  font-style: italic;
  src: url("./fonts/utmtimesbolditalic.ttf");
}
@font-face {
  font-family: "UTM Times";
  font-weight: bold;
  src: url("./fonts/utmtimesbold.ttf");
}
@font-face {
  font-family: "UTM Times";
  font-weight: bold;
  font-style: italic;
  src: url("./fonts/utmtimesbolditalic.ttf");
}
/* CSS DE BASE */
body {
  width: 100%;
  margin: 0px;
}

.page {
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

.menu_restau {
  width: 60%;
  margin: auto;
  margin-bottom: 50px;
  padding: 20px 40px;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.2);
}
.menu_restau section {
  padding: 15px 0;
}

section {
  width: 100%;
}

.menu_flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
  font-family: "Alte Haas Grotesk";
  font-size: 2rem;
}

h3 {
  color: red;
}

p {
  margin: 8px 0;
}

/* HEADER */
header {
  background-color: #579c87;
  color: #fdcb46;
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  margin: 0px;
  padding: 30px 0px;
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
}
h1 a {
  background-color: #579c87;
  color: #fdcb46;
}

/* NAVIGATION - GENERAL */
nav {
  width: 100%;
  margin: auto;
  max-width: 1000px;
}

.navigation {
  display: flex;
  margin: 30px 0px;
  flex-wrap: wrap;
  justify-content: center;
}
.navigation .menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 460px;
  margin: 30px;
  text-align: center;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.2);
}
.navigation h3 {
  font-size: 1.5rem;
  margin: 0 0;
}

/* LA NOTE ENCHANTEE - NAVIGATION */
.note_enchantee {
  background-color: #fde0dc;
  color: #3d1319;
}
.note_enchantee i {
  font-size: 2.5rem;
}
.note_enchantee h2 {
  font-family: "Devonshire", cursive, serif;
  font-size: 2rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 10px;
}
.note_enchantee h3 {
  font-family: Itim;
  font-size: 2rem;
  font-weight: normal;
  font-style: italic;
  text-transform: uppercase;
  color: #3d1319;
}

/* LA NOTE ENCHANTEE - PAGE */
#page_note h3 {
  text-align: center;
  font-family: "Devonshire";
  color: #3d1319;
  font-weight: normal;
  font-size: 2.1rem;
}
#page_note h3 i {
  font-size: 3rem;
}
#page_note h4 {
  font-family: "Itim";
  color: #3d1319;
  text-align: center;
  font-size: 1.3rem;
  margin: 20px 0;
}
#page_note p {
  font-family: "Itim";
  color: #3d1319;
  font-style: italic;
}
#page_note .menu_restau {
  background-color: #fde0dc;
}
#page_note h5 {
  font-family: "Devonshire";
  color: #3d1319;
  text-align: center;
  font-size: 1.7rem;
  font-weight: normal;
  margin: 30px 10px;
}

/* CHIC A LA FRANCAISE - NAVIGATION */
.chic_francaise h2, #page_chic h3 {
  background: linear-gradient(to right, #d8852e, #a56798, #6e4ccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chic_francaise {
  background-color: #fff5fe;
}
.chic_francaise i {
  font-size: 2.5rem;
}
.chic_francaise h2 {
  font-family: "Croissant One", serif;
  font-size: 1.2rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 10px;
}
.chic_francaise h3 {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: #d8852e;
}

/* CHIC A LA FRANCAISE - PAGE */
#page_chic h3 {
  text-align: center;
  font-family: "Croissant One";
  color: #d8852e;
  font-weight: normal;
  font-size: 2.1rem;
}
#page_chic section {
  padding: 20px 0;
}
#page_chic h4 {
  font-family: "UTM Times";
  text-align: center;
  font-size: 1.3rem;
  margin: 20px 0;
}
#page_chic .menu_restau--entrees {
  color: #d8852e;
}
#page_chic .menu_restau--plats {
  color: #a56798;
}
#page_chic .menu_restau--desserts {
  color: #6e4ccc;
}
#page_chic p {
  font-family: "UTM Times";
  font-style: normal;
  margin-left: 40px;
  margin-right: 40px;
}
#page_chic .menu_restau {
  background-color: #fff5fe;
}

/* LE DELICE DES PAPILLES - NAVIGATION */
.delice_papilles h2, #page_delice h3 {
  background: linear-gradient(to right, #0128dd 50%, #219cf9, #0570f3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.delice_papilles {
  background-color: #f9f9f9;
}
.delice_papilles h2 {
  font-family: "Dancing Script", serif;
  font-size: 2rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 10px;
}
.delice_papilles h3 {
  font-family: "Kalam", serif;
  font-size: 2rem;
  font-weight: normal;
  color: #0570f3;
}

/* LE DELICE DES PAPILLES - PAGE */
#page_delice h3 {
  text-align: center;
  font-family: "Dancing Script";
  color: #0128dd;
  font-weight: normal;
  font-size: 3.5rem;
  margin: 20px 0px;
}
#page_delice section {
  padding: 20px 0;
}
#page_delice h4 {
  font-family: "Kalam";
  font-weight: normal;
  text-align: center;
  font-size: 1.5rem;
  margin: 20px 0;
}
#page_delice p {
  font-family: "Kalam";
  margin-left: 40px;
  margin-right: 40px;
}
#page_delice .menu_restau {
  background-color: #edefef;
}
#page_delice .menu_restau--desserts {
  margin-bottom: 40px;
}

/* LA PALETTE DU GOUT - NAVIGATION */
.palette_gout h2, #page_palette h3 {
  background: linear-gradient(to right, #51a444, #72bf55, #bafc7c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.palette_gout {
  background-color: #fdfffd;
}
.palette_gout h2 {
  font-family: "Kaushan Script", serif;
  font-size: 1.8rem;
  font-weight: normal;
  background: linear-gradient(to right, #51a444, #72bf55, #bafc7c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0;
  margin-bottom: 10px;
}
.palette_gout h3 {
  font-family: Itim;
  font-size: 2rem;
  font-weight: normal;
  color: #72bf55;
  font-family: "Kalam", serif;
}

/* LA PALETTE DU GOUT - PAGE */
#page_palette h3 {
  text-align: center;
  font-family: "Kaushan Script", serif;
  color: #51a444;
  font-weight: normal;
  font-size: 2.5rem;
}
#page_palette section {
  padding: 20px 0;
}
#page_palette h4 {
  font-family: "Itim", serif;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  font-size: 1.4rem;
  margin: 20px 0;
}
#page_palette p {
  font-family: "Itim", sans-serif;
  font-style: italic;
  margin-left: 40px;
  margin-right: 40px;
}
#page_palette .menu_restau {
  background-color: #fdfffd;
}

.btn_prochainement {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.btn_prochainement a {
  background-color: #579c87;
  color: #fdcb46;
  padding: 5px 50px;
  border-radius: 8px;
  font-size: 2rem;
}

/* FOOTER */
footer {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #579c87;
  color: #fdcb46;
  font-size: 1.2rem;
}
footer p {
  margin: 10px 20px;
}
footer a {
  background-color: #579c87;
  color: #fdcb46;
  font-family: "Open Sans", sans-serif;
}

/*# sourceMappingURL=style.css.map */
