.btn_prochainement {
    text-align: center;
    font-family: $font_main, $font-default;
    padding-bottom: 80px;
    a {
        @include couleurs;
        padding : 5px 50px;
        border-radius: 8px;
        font-size : 2rem;
        white-space: nowrap;
    }
}

.dot {
  animation: appear 3s backwards infinite;
  @for $i from 1 through 3 {
    &--#{$i} {
      animation-delay : $anim-delay * $i;
    }
  }
}