.btn_prochainement {
    text-align: center;
    font-family: $font_main, $font-default;
    padding-bottom: 80px;
    a {
        @include couleurs;
        padding : 5px 50px;
        border-radius: 8px;
        font-size : 2rem;
    }
}