/* CSS DE BASE */

body {
	width: 100%;
	margin : 0px;
}

.page {
	width: 100%;
	margin: auto;
}


.menu_restau {
	min-height: 800px;
	min-width: 200px;
	max-width: 700px;
	margin: auto;
	margin-bottom : 100px;
	padding : 20px 40px;
	@include shadow;
	section {
		padding : 15px 0;
	}
}

section {
	width : 100%
}

.menu_flex {
	display:flex;
	justify-content : space-between;
	flex-wrap: nowrap;
	p {
		margin: 5px;
		white-space: nowrap;
	}
}




a {
	text-decoration: none;
	&:hover {
		border: 0;
	}
}


h2 {
	text-align: center;
	font-family: "Alte Haas Grotesk";
	font-size: 2rem;
}


h4 {
	cursor: pointer;
	white-space: nowrap;
}

p {
	margin: 8px 0;
}

.titre_flex{
	display:flex;
	align-items: center;
	justify-content: space-between;
	img, .titre_flex h4 {
		max-width: 30%;
	}
	

}

.line {
	height: 10px;
	width: 35%;
	max-width: 100%;
}