// GOOGLE FONT
// Contient : Open sans, Devonshire, Itim

@import url('https://fonts.googleapis.com/css2?family=Devonshire&family=Open+Sans:wght@400;700&family=Itim&display=swap');

@font-face {
    font-family: "Alte Haas Grotesk";
    font-weight: normal;
    src: url("./fonts/altehaasgroteskregular.ttf");
   }

@font-face {
font-family: "Alte Haas Grotesk";
font-weight : bold;
src: url("./fonts/altehaasgroteskbold.ttf");
}