$anim-delay : 300ms;

@keyframes appear {
    0% { opacity: 0; }
   50% {opacity : 1;}
    100% {opacity : 0; }
}

@keyframes shake {

    25% { transform : translate(2px, 0px) rotate(1deg);}
    50% { transform : translate(-2px, 0px)  rotate(0deg);}
    75% { transform : translate(2px, 0px) rotate(-1deg);}

  }