/* VARIABLES */

$bg: #579c87; //fonds des boutons, entête... */
$text: #fdcb46; // couleur de textes */

$font_main: 'Open Sans'; // police H1 et footer */
$font_default: sans-serif; // police défaut */

/* MAPS */

$note_enchantee : (
    font-main: 'Devonshire',
    font-second : 'Itim',
    font-color: #3d1319,
    color1: #f15f62,
    color2: #f6916a,
    bg: #fde0dc
);

$chic : (
    font-main: 'Croissant One',
    font-second : 'UTM Times',
    font-p : 'UTM Times',
    color1: #d8852e,
    color2: #a56798,
    color3: #6e4ccc,
    bg: #fff5fe
);

$delice : (
    font-main: 'Dancing Script',
    font-second : 'Kalam',
    color1: #0128dd,
    color2: #0570f3 ,
    color3: #219cf9,
    bg: #f9f9f9,
);

$palette : (
    font-main: 'Kaushan Script',
    font-second : 'Kalam',
    font-p : 'Itim',
    color1: #51a444,
    color2: #72bf55,
    color3: #bafc7c,
    bg: #fdfffd
);

