$bg: #579c87; /* fonds des boutons, entête... */
$text: #fdcb46; /* couleur de textes */

$font_main: 'Open Sans'; /* police principale */
$font_note: 'Devonshire'; /* police La note enchantée*/
$font_default: sans-serif; /* police défaut */

